name: ci

on: [push]

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name:
        run: |
          sudo apt install librust-alsa-sys-dev libudev-dev
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
